:root{
    --cor-principal: #EA1C81;
    --cor-topo: #D8F1FB;
    --cor-preta: black;
}

#header{
    background-color: var(--cor-topo);
    display: flex;
    justify-content: space-between;
    align-items: center
}

#header nav a{
    text-decoration: none;
    color: var(--cor-preta);
}
#header nav a:hover{
    background-color: var(--cor-principal);
    color: var(--cor-branca);
    border-radius: 40px;
}   
