:root{
    /* adiciona cor principal */
    --cor-principal: #EA1C81;
    --cor-topo: #D8F1FB;
    --cor-preta: black;
    --cor-branca: white;
    --cor-fundo: #FAFBFF;
    

}

*{
    margin: 0px;
    padding: 0px;
    transition:all 0.5s;
    box-sizing: border-box;

}
#header{
    /* coloca cor no background e altera o formato do header */
    background-color: var(--cor-topo);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* efeito cascata: envoca um pai e outro pai e outro pai para chegar no filho */
#header nav a{
    text-decoration: none;
    color: var(--cor-preta);
}

#header nav a:hover{
    background-color: var(--cor-principal);
    color: var(--cor-branca);
    border-radius: 40px;
}
/* Da um espaçamento das palavras */
.marginLateral{
    margin: 0px 20px;
}

main #Banner{
    background-image: url("../img/Banner.png");
    /* 100 - a soma da nossa resulução, sempre vamos usar */
    height: calc(100vh - 116px);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--cor-principal);

}

main #Banner button{
    background-color: var(--cor-principal);
    color:var(--cor-branca);
    border: none;
    border-radius: 20px;
    margin: 10px;
}

main #Banner button:hover{
    cursor: pointer;
    font-size: larger;
    padding: 20px;
}

#header, 
main #Banner button, 
main #Banner button:hover,
#bemvindo div,
#bemvindo #BoasVindas,
main #beneficios,
#beneficos-Nossosbeneficios,
main #beneficios-Servicos,
#rodape{
    padding: 15px;

}

#bemvindo{
    display: grid;
    /* grid manda a divisoria fazer quantas frações quiser */
    grid-template-columns: repeat(2,1fr)
}
#header,
#bemvindo div{
    padding: 15px;
}
    
    #bemvindo #BoasVindas h3{
        color: var(--cor-rosa);
        margin-bottom: 10px;
    }
     
main #beneficios{
    background-color: var(--cor-fundo);
    }

main #beneficios{
    color: var(--cor-principal)
}

main #beneficios #beneficos-Nossosbeneficios{
    text-align: center;
    color: var(--cor-principal)
}
 
    main #beneficios-Servicos{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
    }

    main #formulario #form-texto, #beneficios #beneficos-Nossosbeneficios, #beneficios-Servicos, #rodape{
        text-align: center;
    }
main #beneficios #beneficios-Servicos{
    grid-template-columns: repeat(3, 1fr);
}
main #formulario form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main #formulario #form input{
        display: flex;
        padding: 8px;
        border: none;
        outline: none;
        border-bottom: 1px solid black;
        border-radius: 10px;
        width: 380px;
        margin-bottom: 10px;
}

main #formulario #form buttom{
    padding: 8px;
    border: none;
    background-color: var(--cor-principal);
    color: var(--cor-branca);
    border-radius: 10px;
    width: 380px;
    cursor: pointer;
    
}

main #formulario #form{
    background-image:url(../img/dog.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#rodape{
    background-color: var(--cor-topo);
    text-align: center;
}
    

